
@{
    Layout = "_Layout";
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>D.Chandrakant Tailors </title>
    <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="../assets/css/styles.min.css" />
    <link rel="stylesheet" href="../assets/css/bootstrap.css" />
</head>

<body class="bg-light-primary">
   
    <!--  Body Wrapper -->
    <div class="container-fluid " id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full">
        <header class="container-fluid mt-2 mb-2">
            <div class="row">
                <div class="col-6">
                    <h2>Dashboard</h2>
                </div>
                <div class="col-6 mt-2 mb-2">
                    <div style="display: flex; justify-content: flex-end;">
                        <div class="dropdown">
                            <a class="btn  dropdown-toggle border-primary rounded-pill  text-primary" href="#" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Select Month
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">March 3023</a></li>
                                <li><a class="dropdown-item" href="#">April 2023</a></li>
                                <li><a class="dropdown-item" href="#">May 2023</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
        </header>
    </div>

    <section class="container-fluid">
        <div class="row ">
            <div class="col-sm-12 col-md-4 col-lg-2 w-100 ">
                <div class="col-md-2 ml-2 rounded-4 bg-light " style="max-width: 300px; height: 100px;">
                    <div class="row g-0 ">
                        <div class="col-md-3 rounded colo">
                            <img src="../assets/images/images/income r.png" class="mt-3" width="60" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h6 class="fw-semibold fs-3 mb-6 text-dark w-85">Income </h6>
                                <a href="#" target="_blank" class="  fs-6 fw-semibold lh-sm">2532</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-12 col-md-4 col-lg-2 ">
                <div class="col-md-2 ml-2 rounded-4  bg-light " style="max-width: 300px; height: 100px;">
                    <div class="row g-0 ">
                        <div class="col-md-3 rounded ">
                            <img src="../assets/images/images/t order.png" class="mt-3" width="60" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h6 class="fw-semibold fs-3 mb-8 text-dark w-85">Total Orders </h6>
                                <a href="#" target="_blank" class="  fs-6 fw-semibold lh-sm">2532</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-12 col-md-4 col-lg-2 ">
                <div class="col-md-2 ml-2 rounded-4 bg-light " style="max-width: 300px; height: 100px;">
                    <div class="row g-0 ">
                        <div class="col-md-3 rounded colo">
                            <img src="../assets/images/images/d order.png" class="mt-3" width="60" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h6 class="fw-semibold fs-3 mb-28 ml-3 text-dark w-85"> Orders Delivered </h6>
                                <a href="#" target="_blank" class=" ml-3  fs-6 fw-semibold lh-sm">2532</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-2 ">
                <div class="col-md-2 ml-2 rounded-4 bg-primary" style="max-width: 300px; height: 100px;">
                    <div class="row g-0 ">
                        <div class="col-md-3 rounded colo">
                            <img src="../assets/images/images/cutting 01.png" class="mt-3" width="55" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h6 class="fw-semibold fs-3 ml-3 mb-8 text-white w-85">Cutting </h6>
                                <a href="#" target="_blank" class=" ml-3 text-white  fs-6 fw-semibold lh-sm">2532</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-2 ">
                <div class="col-md-2 ml-2 rounded-4 bg-primary" style="max-width: 300px; height: 100px;">
                    <div class="row g-0 ">
                        <div class="col-md-3 rounded colo">
                            <img src="../assets/images/images/stretiching (2).png" class="mt-3" width="55" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h6 class="fw-semibold fs-3 ml-3 mb-8 text-white w-85">Stitching </h6>
                                <a href="#" target="_blank" class=" ml-3 text-white  fs-6 fw-semibold lh-sm">2532</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-2 ">
                <div class="col-md-2 ml-2 rounded-4 bg-primary" style="max-width: 300px; height: 100px;">
                    <div class="row g-0 ">
                        <div class="col-md-3 rounded colo">
                            <img src="../assets/images/images/ironing.png" class="mt-3" width="55" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h6 class="fw-semibold fs-3 mb-8 text-white w-85 ml-3">Ironing </h6>
                                <a href="#" target="_blank" class="ml-3 text-white fs-6 fw-semibold lh-sm">2532</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </header>
    </section>
    <section>
        <div class="container-fluid mt-3 ml-1">
            <div class="row">
                <div class="col-lg-8 d-flex align-items-strech">
                    <div class="card w-100">
                        <div class="card-body">
                            <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                                <div class=" mb-sm-0">
                                    <h5 class="card-title ">Collection</h5>
                                </div>
                                <div>
                                    <select class="form-select">
                                        <option value="1">March 2023</option>
                                        <option value="2">April 2023</option>
                                        <option value="3">May 2023</option>
                                        <option value="4">June 2023</option>
                                    </select>
                                </div>
                            </div>
                            <div id="chart">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </section>


    <script>
        // Get the current date
        var currentDate = new Date();

        // Format the date
        var dateString = currentDate.toLocaleDateString("en-US", {
            year: 'numeric',
            month: 'long',
            day: 'numeric'
        });

        // Display the formatted date
        document.getElementById("date").innerHTML = dateString;
    </script>
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/sidebarmenu.js"></script>
    <script src="../assets/js/app.min.js"></script>
    <script src="../assets/js/myjs.js"></script>
    <script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="../assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="../assets/js/dashboard.js"></script>
</body>

</html>
